body
{
    color: #333333;
    text-align: left;
    font-family: "Arial";
}
#container
{
    width: 70%;
    padding: 1en;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}